{{#*inline "page"}}

<section id="about">
  <h1>About Me</h1>
  Hi there! My name is Nils and I'm a high school student who loves coding in my free time. I've always been interested in computers and technology, and programming has become a passion of mine over the years.<br><br>
  One of my favorite programming languages is Rust. I find Rust to be a powerful and efficient language that's well-suited for systems programming and other low-level tasks. I also appreciate Rust's focus on safety and security, which makes it a great choice for building reliable and robust software.<br><br>
  Aside from coding, I also enjoy playing my instruments: clarinet and saxophone. Music has always been a big part of my life, and I find that playing my instruments helps me unwind and stay creative.<br><br>
  When I'm not coding or playing music, I enjoy exploring new technologies and learning more about computer science. I'm particularly interested in areas like artificial intelligence, machine learning, and cybersecurity, and I hope to continue studying these fields in the future.<br><br>
  Thanks for stopping by and getting to know me a little better! If you have any questions or just want to chat about coding, music, or anything else, feel free to reach out.<br><br>
  <h1>Contact</h1>
  You can contact me via my E-Mail <a href="mailto:nils@wrenger.net" class="">nils@wrenger.net</a>
</section>

{{/inline}}
{{~> (parent)~}}
