<footer>
  <h5>
    <foot>
      <a href="/legals" class="nav-link">Legals</a>/<a href="/about" class="nav-link">Contact</a></span> <span class="tab"></span>Build with <a href="https://www.rust-lang.org/" class="">Rust</a> and the <a href="https://rocket.rs/" class="">Rocket Framework</a>
    </foot>
  <style>
    .tab {
    display: inline-block;
    width: 400px; 
    }
  </style>
</footer>
