{{#*inline "page"}}

<section id="message_board">
  <h1>Hi, there!</h1>
  Welcome to my meaningless Website! It can't do anything now. Just go on my <a href="/about" class="nav-link">About Me</a> Section or go to my <a href="https://www.github.com/NWrenger" class="">Github</a>. Lorem ipsum alum est. Mercator es ibus est. Inuria ia est.
</section>

{{/inline}}
{{~> (parent)~}}
