<!doctype html>
<html>
  <head>
    <title>About Nils Wrenger</title>
    <style>
      @font-face {
        font-family: Roboto;
        src: url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
      }
      body {
        font-family: "Roboto", sans-serif;
        max-width: 800px;
        justify-content: center;
        margin: 0 auto;
        background-color: rgb(27, 27, 27);
        color: rgb(204, 204, 204);
      }
    </style>
  </head>
  <body>
    {{> header}}
    {{~> page}}
    {{> footer}}
  </body>
</html>
