<!doctype html>
<html>
  <head>
    <title>About Nils Wrenger</title>
    <style>
      body {
        max-width: 800px;
        justify-content: center;
        margin: 0 auto;
        background-color: rgb(27, 27, 27);
        color: rgb(204, 204, 204);
      }
    </style>
  </head>
  <body>
    {{> header}}
    {{~> page}}
    {{> footer}}
  </body>
</html>
