{{#*inline "page"}}

<section id="legals">
    <h1>Legals</h1>
    <h2>English</h2>
        This is my personal website, meant for my friends and as a personal hobby only. <br>I don’t make and don’t intent to make money with it.<br><br>
        All the content represents my own opinion and is not guaranteed to be complete and correct.<br><br>
        I cannot provide any liability for any external links and their content found on this website.<br><br>
    <h2>Deutsch</h2>
        Das ist meine private Webseite, die ausschließlich für meine Freunde und als persönliches Hobby gepflegt wird. <br>Ich verdiene damit kein Geld, und habe es auch nicht vor.<br><br>
        Alle Inhalte repräsentieren meine persönliche Meinung und haben keinen Anspruch auf Vollständigkeit und Richtigkeit.<br><br>
        Haftung für den Inhalt externer Links ausgeschlossen.<br><br>
</section>

{{/inline}}
{{~> (parent)~}}