{{#*inline "page"}}

<section id="projects">
  <h1>My Projects</h1>
  Currently, you can see all my Projects on my <a href="https://www.github.com/NWrenger" class="link">Github</a>. Here may be something fun in the Future.<br><br>
</section>

{{/inline}}
{{> layout}}