{{#*inline "page"}}

<section id="contact">
  <h1>Contact</h1>
  You can contact me via my E-Mail <a href="mailto:nils@wrenger.net" class="link">nils@wrenger.net.</a><br><br>
</section>

{{/inline}}
{{> layout}}