{{#*inline "page"}}

<section id="contact">
  <div class="rounded-box">
    <h1>Contact</h1>
    You can contact me via my E-Mail <a href="mailto:nils@wrenger.net" class="link">nils@wrenger.net</a>.<br><br>
  </div>
</section>

{{/inline}}
{{> layout}}
