<footer id="footer">
  <h5>
    <a href="/legals" class="link">Legals</a> / Build with <a href="https://www.rust-lang.org/" class="link">Rust</a> and the <a href="https://actix.rs/" class="link">Actix Framework</a>
  </h5>
</footer>

<style>
  #footer {
    background-color: rgb(14, 14, 14);
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
  }
</style>
