<header>
  <nav>
    <left>
      <a href="/" class="header-link">Home</a>  <a href="/projects" class="header-link">Projects</a>   <a href="/about" class="header-link">About</a>   <a href="/contact" class="header-link">Contact</a>   <a href="/legals" class="header-link">Legals</a>
    </left>
    <right>
      <a href="https://github.com/NWrenger/website" target="_blank" rel="noreferrer" class="mobile-link">Github <img src="https://raw.githubusercontent.com/NWrenger/NWrenger/master/external-link.svg" alt="github" width="12" height="12"/></a>
    </right>
  </nav>
</header>

  <style>
  nav {
    background-color: #212529;
    padding-top: 25px;
    padding-bottom: 25px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-size: large;
  }
  left {
    padding-left: 10px;
  }
  right {
    float: right;
    padding-right: 10px;
  }
  @media only screen and (max-width: 768px) {
    .mobile-link {
      display: none;
    }
  }
  .active {
    color: rgba(201, 201, 201, 0.753);
    font-weight: bold;
  }
  </style>

<script>
  // Get the current URL path
  const currentPath = window.location.pathname;

  // Find the link that matches the current path and add a "active" class to it
  const links = document.querySelectorAll('.header-link');
  links.forEach(link => {
    if (link.getAttribute('href') === currentPath) {
      link.classList.add('active');
    }
  });
</script>
