<header>
  <nav>
    <div class="tabs" id="menu">
      <li><button class="menu-button" onclick="toggle()">Menu</button></li>
    </div>
    <div>
      <ul class="tabs" id="tabs">
        <li><a href="/" class="header-link">Home</a></li>
        <li><a href="/projects" class="header-link">Projects</a></li>
        <li><a href="/about" class="header-link">About</a></li>
        <li><a href="/contact" class="header-link">Contact</a></li>
        <li><a href="/legals" class="header-link">Legals</a></li>
      </ul>
    </div>
    <div>
      <ul class="menu-tabs" id="menu-tabs">
        <li><a href="/" class="header-link">Home</a></li>
        <li><a href="/projects" class="header-link">Projects</a></li>
        <li><a href="/about" class="header-link">About</a></li>
        <li><a href="/contact" class="header-link">Contact</a></li>
        <li><a href="/legals" class="header-link">Legals</a></li>
      </ul>
    </div>
    <div class="github-link-container">
      <a href="https://github.com/NWrenger/website" target="_blank" rel="noreferrer" class="github-link">
        Github <img src="https://raw.githubusercontent.com/NWrenger/NWrenger/master/external-link.svg" alt="github" width="12" height="12"/>
      </a>
    </div>
  </nav>
</header>

<style>
  nav {
    background-color: #212529;
    padding-top: 25px;
    padding-left: 5px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-size: large;
    border-bottom: 4px solid #15191d;
    display: flex;
    justify-content: space-between;
  }
  
  #menu {
    display: none;
  }

  #tabs {
    display: flex;
    position: relative;
  }

  .tabs {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .tabs li {
    flex: 1;
    margin: 0 5px;
    text-align: center;
  }
  
  .tabs li a {
    display: block;
    padding: 10px 15px;
    background-color: #212529;
    color: #bdbdbd;
    text-decoration: none;
    border: 1px solid #15191d;
    border-radius: 10px 10px 0 0;
  }
  
  .tabs li a.active {
    background-color: #15191d;
    color: #fff;
    border-bottom: none;
    border: 1px solid #15191d;
  }

  .tabs li button {
    display: block;
    padding: 10px 15px;
    background-color: #212529;
    color: #bdbdbd;
    text-decoration: none;
    border: 1px solid #15191d;
    border-radius: 10px 10px 10px 10px;
  }

  .tabs li button.active {
    background-color: #15191d;
    color: #fff;
    border-bottom: none;
    border: 1px solid #15191d;
  }

  button {
    font-size: large;
  }
  
  .github-link-container {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    margin-right: 15px;
  }
  
  .github-link {
    display: flex;
    align-items: center;
    color: #bdbdbd;
    text-decoration: none;
  }
  
  .github-link img {
    margin-left: 5px;
  }
  
  .header-link:hover {
    background-color: #1a1e22;
    border: 1px solid #1a1e22;;
    color: #fff;
  }
  
  .github-link:hover {
    color: #fff;
  }

  @media (hover: hover) {
    .menu-button:hover {
      background-color: #1a1e22;
      border: 1px solid #1a1e22;;
      color: #fff;
    }
  }
  
  #menu-tabs {
    display: none;
  }

  #menu-tabs.active {
    display: none;
  }

  @media only screen and (max-width: 768px) {
    #menu {
      display: block;
    }

    #menu-tabs {
      display: none;
    }

    #tabs {
      display: none;
    }

    #menu-tabs.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: calc(100% - 15px);
    left: 0;
    width: 100%;
    background-color: #212529;
    padding: 10px 0;
    border-radius: 0 0 5px 5px;
    }

    #menu-tabs.active li {
      margin: 0;
      text-align: center;
    }

    #menu-tabs.active li a {
      display: block;
      padding: 10px 15px;
      color: #bdbdbd;
      text-decoration: none;
      border: none;
    }

    #menu-tabs.active li a.active {
      background-color: #15191d;
      color: #fff;
    }

    .tabs button {
      margin-top: -10px;
      margin-bottom: 4px;
      border-radius: 5px;
    }
  }
  
</style>

<script>
  // Get the current URL path
  const currentPath = window.location.pathname;

  // Find the link that matches the current path and add a "active" class to it
  const links = document.querySelectorAll('.header-link');
  links.forEach(link => {
    if (link.getAttribute('href') === currentPath) {
      link.classList.add('active');
    }
  });

  function toggle() {
    const button = document.querySelector('.menu-button');
    button.classList.toggle('active');
    const tabs = document.querySelector('#menu-tabs');
    tabs.classList.toggle('active');
  }
  
  {{!-- window.addEventListener('resize', function() {
    const tabs = document.querySelector('#menu-tabs');
  
    if (window.innerWidth >= 768) {
      tabs.style.display = 'none';
    }
  }); --}}


</script>
