<nav>
  <header>
    <a href="/" class="header-link">Home</a> | <a href="/projects" class="header-link">Projects</a> | <a href="/about" class="header-link">About</a> | <a href="/contact" class="header-link">Contact</a> | <a href="/legals" class="header-link">Legals</a>
  </header>
</nav>

  <style>
    nav {
      background-color: #212529;
      padding-top: 25px;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
    }
    header {
      max-width: 800px;
      justify-content: center;
      margin: 0 auto;
    }
    nav::after {
      content: "";
      display: block;
      height: 1px;
      width: 100%;
      background-color: #262626;
      margin-top: 25px;
    }
  </style>

<script>
  // Get the current URL path
  const currentPath = window.location.pathname;

  // Find the link that matches the current path and add a "active" class to it
  const links = document.querySelectorAll('.header-link');
  links.forEach(link => {
    if (link.getAttribute('href') === currentPath) {
      link.classList.add('active');
    }
  });
</script>

<style>
  .active {
    color: rgba(201, 201, 201, 0.753);
    font-weight: bold;
  }
</style>
