{{#*inline "page"}}

<section id="message_board">
  <div class="rounded-box">
    <h1>Hi, there!</h1>
      Welcome to my meaningless Website! It can't do anything now. Just go to my <a href="/projects" class="link">Projects</a> Section or go to my <a href="/about" class="link">About Me</a> Section. Lorem ipsum alum est. Mercator es ibus est. Inuria ia est.<br><br>
  </div>
</section>

{{/inline}}
{{> layout}}
