<!doctype html>
<meta http-equiv="content-type" content="content; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<html>
  <head>
    <title>{{ title }}</title>
    <link rel="shortcut icon" href="favicon.ico">
    <style>
      @font-face {
        font-family: Roboto;
        src: url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
      }
      body {
        font-family: "Roboto", sans-serif;
        max-width: 800px;
        justify-content: center;
        margin: 0 auto;
        background-color: #0B0E14;
        color: rgb(204, 204, 204);
        height: 100%;
        }
      .header-link {
        color: rgb(97, 97, 97);
      }
      .link {
        color:dodgerblue;
      }
      .header-link:hover {
        color: rgba(201, 201, 201, 0.753);
      }
      .link:hover {
        color: rgba(201, 201, 201, 0.753);
      }
      .content {
        padding-top: 60px;
      }
    </style>
  </head>
  <body>
    {{> header}}
    <div class="content">
      {{~> page}}
    </div>
  </body>
</html>
